body {
  background-color: lightgoldenrodyellow;
}

.aboutStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25vh;
  padding: 1em;
  background-color: lightgoldenrodyellow;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25vh;
  padding: 1em;
  background-color: lightgoldenrodyellow;
}
h1 {
  font-family: 'Galada', cursive;
  font-size: 4em;
  margin-bottom: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  
}

span {
  font-size: smaller;
}

.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  background-color: lightgoldenrodyellow;
}

.pinned {
  color: green
}

.checked {
  text-decoration: line-through;
  color: red
}

.inputStyle {
    width: 90%;
    height: 2em;
    margin: 1em;
}

.buttonStyle {
  font-family: 'Roboto', sans-serif;
  width: 15%;
  font-size: large;
  font-size: x-large;
  padding: .5em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  overflow: hidden;
 
}

button.buttonStyle:focus {
  outline: none;
}

.listWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

.listStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  margin: 0;
  background-color: lightgoldenrodyellow;
  font-family: 'Roboto', sans-serif;
}

.actions {
     width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}



.deleteStyle{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    padding: .5em;
    align-self: flex-end!important;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    
}

